* {
  margin: 0px;
  padding: 0px;
}
.navbar {
  position: absolute;
  z-index: 10;
  width: 100%;
  padding: 1rem 2rem;
  margin: 0px auto;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    margin: 0rem 4.5rem;
}
.nav-item {
  padding: 0px 1rem;
}
.right-nav {
  font-family: "Urbanist", sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
}
.background {
  height: calc(100vh - 30rem);
  min-height: 28rem;
  max-height: 57rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-block-end: 2rem;
}
.bg-img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.1);
  opacity: 1;
  transition: all 1.4s ease 0s;
}
.content-wrapper {
  position: absolute;
  bottom: calc(72% - 9.1rem);
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}
.content-wrapper h1 {
  font-size: 2.4rem;
  color: whitesmoke;
  font-weight: 400;
}
.img-sm {
  background: transparent;
  height: 5.5rem;
  max-height: none;
  width: 18rem;
  position: relative;
}
.img-written {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  object-fit: contain;
  transform: none;
  opacity: 1;
  transition: all 1.4s ease 0s;
}
.search-bar {
  border-width: 0px;
  margin-top: 1.2rem;
}
.inner-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.6rem;
  background: rgb(255, 255, 255);
  border-radius: 0.6rem;
  box-shadow: rgb(28 28 28 / 8%) 0px 2px 8px;
  border: 1px solid rgb(232, 232, 232);
}
.inner-left {
  display: flex;
  justify-content: center;
}
.fa-map-marker-alt {
  color: rgba(255, 71, 71, 0.712);
  margin: 0.6rem;
  font-size: 1.2rem;
}

.inner-left input {
  border: none;
  font-family: Okra, Helvetica, sans-serif;
}
.fa-sort-down {
  font-size: 1.1rem;
  margin: 0.5rem 0.7rem;
}

.line {
  width: 0rem;
  height: 1.4rem;
  border: 0.05rem solid rgb(207, 207, 207);
}
.inner-right {
  display: flex;
  justify-content: center;
  width: 31rem;
}
.inner-right input {
  border: none;
  font-size: 1.2rem;
  width: 100%;
  border-radius: 0.8rem;
  padding: auto;
  font-size: 1rem;
  font-family: Okra, Helvetica, sans-serif;
}
.fa-search {
  font-size: 1.1rem;
  color: rgb(110, 106, 106);
  margin: auto 1.2rem;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container .para-1 {
  font-size: 2.4rem;
  font-family: "Noto Sans", sans-serif;
  color: #000000ba;
}
.container .para-1 span {
  font-weight: 600;
}
.button-1 {
  background-color: white;
  border: 1px solid rgba(95, 94, 94, 0.151);
  padding: 1rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2rem;
  color: #000000ba;
  width: 22rem;
  border-radius: 0.46rem;
  box-shadow: 2px 2px 6px -6px;
  transition: box-shadow 0.1s;
}
.button-1 i {
  font-size: 0.1rem;
  margin: 0px 0rem 0px 7rem;
}
.button-1:hover {
  box-shadow: 5px 6px 9px -11px;
}

.container-2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 9rem 0rem 8rem 0rem;
  background-color: rgb(255, 251, 247);
  padding: 2rem 2rem 0.5rem 2rem;
}

.container-2 .mobile {
  height: 27rem;
  border-radius: inherit;
  filter: unset;
  transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
  margin: 0rem 2rem;
}
.application {
  margin: 1.5rem 0.5rem;
  width: 29rem;
}

.application .header h1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: bolder;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
}
.application p {
  margin: 1.7rem 0rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  word-spacing: 0.1rem;
}

.checkboxes {
  margin: 0rem 0rem 1rem 0rem;
  display: flex;
  align-items: center;
}
.checkboxes #radio {
  width: 1rem;
  height: 1rem;
}
.checkboxes label {
  margin: 0rem 3rem 0rem 0.6rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
.search input {
  margin: 0rem;
  height: 3rem;
  width: 18.2rem;
  border: 1.2px solid rgb(187, 187, 187);
  border-radius: 7.3px;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
  color: rgb(148, 147, 147);
}
.search button {
  height: 3rem;
  border: none;
  border-radius: 0.4rem;
  width: 9.4rem;
  margin: 0rem 0rem 0rem 0.3rem;
  font-family: "Quicksand", sans-serif;
  background: rgb(247 96 109);
  color: white;
  font-size: 1.02rem;
  font-weight: 600;
}
.search button:hover {
  background: rgb(249 60 77);
}

.download {
  margin: 1.2rem 0rem;
}
.download .sub-head {
  font-size: 0.9rem;
  font-family: "Quicksand", sans-serif;
  color: grey;
  margin-bottom: 1rem;
}
.download a img {
  height: 2.5rem;
}
.download .a-sm img {
  margin-right: 1rem;
}
.container-3 {
    margin: 0rem 13rem 6rem 13rem;
}
.container-3 .heading-1 {
  margin-bottom: 1.7rem;
}
.container-3 .heading-1 h2 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 100;
  font-size: 1.92rem;
}
.sub-part .sub-heading {
    margin-bottom: 1rem;
}
.sub-part .sub-heading h3{
    font-family: "Noto Sans", sans-serif;
    font-size: 1.54rem;
}
.sub-part .anchors a{
    text-decoration: none;
    color: grey;
    font-family: "Quicksand", sans-serif;
    font-size: 1.05rem;
}
.footer{
    background: rgb(248, 248, 248);
    
    padding: 3.6rem 3.6rem 1.5rem 3.6rem;

}
.heading-2{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0rem 9rem;
}
.heading-2 .zig img{
    margin: 0rem 1rem;
    width: 8.3rem;
}
.foot-buttons {
    margin-right: 1rem;
}
.foot-buttons button {
    margin: 0rem 0rem 0rem 1rem;
    padding: 0.3rem;
    border: 1px solid rgb(180, 179, 179);
    border-radius: 0.5rem;
    background: transparent;
    font-size: 1.1rem;
    min-width: 6.5rem;
    font-family: "Noto Sans", sans-serif;
}
.foot-buttons button img {
    width: 1.3rem;
    height: 0.9rem;
}
.table {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sc-bke1zw-0.fIuLDK.sc-elhb8j-22.BWgtB {
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.sc-bke1zw-0.fIuLDK.sc-elhb8j-22.BWgtB h6{
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 0.09rem;
}
.sc-bke1zw-0.fIuLDK.sc-elhb8j-22.BWgtB a{
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
    color: gray;
}
.sc-bke1zw-0.fIuLDK.sc-elhb8j-22.BWgtB  p{
    margin-bottom: 0.27rem;
}
.sc-elhb8j-14.bHxoUd {
    display: flex;
}
.sc-elhb8j-7.jBOGYb {
    margin-right: 0.5rem;
}
.sc-s1isp7-1.fxuOHl img {
    margin-top: 0.7rem;
    width: 8.1rem;
}
.sc-bke1zw-1.sc-elhb8j-19.kWlqhA {
    margin: 0rem 4rem;
}
.sc-bke1zw-1.sc-elhb8j-19.jdkgnT {
    margin: 0rem 3rem;
}
.sc-bke1zw-1.sc-elhb8j-19.gZGcQW {
    margin: 0rem 3rem;
}
.sc-bke1zw-1.sc-elhb8j-13.hHFmwV {
    margin: 0rem 2.5rem;
}
hr {
    width: 68rem;
    margin: 0rem 9.8rem 2rem 9.8rem;
    color: #807f7f;
}
.end p {
    margin: 0rem 10rem;
}